<% if @plays.present? %>
  <h3>Already played</h3>
  <table>
    <thead>
      <tr>
        <th>Timer Value</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'plays/partials/play_item', collection: @plays, as: :play %>
    </tbody>
  </table>
<% end %>
