<%= javascript_pack_tag 'plays/index' %>

<% if @game_collection.present? %>
  <div id="game-container">
    <h3>Timer:</h3>
    <p id='current-timer-val'></p>

    <div class="img-container">
      <img src='#' id='current-img'/>
    </div>

    <%= button_tag 'Play', id: 'play-btn' %>
  </div>

  <% if @images.present? %>
    <h3>Already played</h3>

    <%= render 'plays/partials/plays_table', plays: @plays %>
  <% end %>
<% else %>
  <h3>Upload images to start a game :)</h3>
<% end %>


