<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'images/partials/image_item', collection: images, as: :image %>
  </tbody>
</table>
