<h3>Upload an image</h3>

<%= form_for :uploads, url: images_path, method: :post do |form| %>
  <%= form.file_field :attachments, multiple: true %>
  <%= form.submit 'Upload' %>
<% end %>

<% if @images.present? %>
  <h3>Existing images</h3>

  <%= render 'images/partials/images_table', images: @images %>
<% end %>
